<footer>
 <div>
   <h4 class="mb-3">Completed Credit level</h4>

  <a href="https://www.facebook.com/">Facebook</a>
  <a href="https://au.linkedin.com/">LinkedIn</a>
  <a href="https://twitter.com/home?lang=en">Twitter</a>

 </div>
</footer>